.ly-grobal-header{
  height:144px;
  padding: 60px 0;
  background-color: lightblue;
  h1{
    text-align: center;
    margin: 0 auto;
    font-size: 45px;
  }
  .description{
    max-width: 680px;
    display: block;
    margin: 0 auto;
    height: 69px;
    padding-top: 23px;
    font-size: 0.875rem;
    text-align: center;
    color: #bbb;
  }
}
