.ly-main{
  width: 760px;
  background-color: white;
  margin-right: 30px;
  height:900px;
  h2{
    padding: 40px 40px 25px 40px;
    color: black;
  }
  a{
    color: black;
    text-decoration: black;
  }
  p{
    padding: 0 40px;
  }
  .ly-content-footer{
    border-top: 1px solid #dcdcdc;
  }
}
